<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8232721784.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="opciones-empleo.component.css">
    <title>Opciones de empleo</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@12"></script>
<body class="d-flex flex-column min-vh-100">
    <!-- Barra de navegación -->
    <header class="main-header">
        <img src="../assets/img/logo.png" alt="Logo" class="logo">
        <nav>
            <ul class="navigation">
                <li><a routerLink="/dashboard">Inicio</a></li>
                <li><a routerLink="/opciones-empleo">Opciones de empleo</a></li>
                <li><a routerLink="/perfil">Perfil</a></li>
                <li><a (click)="navegarLogin()">Salir</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main class="container d-flex flex-column justify-content-center">
        <div class="row">
            <!-- Sección de ofertas laborales -->
            <div class="col-md-12">
                <h2 class="section-title">Aplica!</h2>

                <div class="row row-cols-1 row-cols-md-3">
                    <!-- card -->
                    <div class="col mb-4" *ngFor="let empresa of empresas">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ empresa.nombre }}</h5>
                                <p class="card-text">{{ empresa.descripcion }}</p>
                                <small class="text-muted">Publicado {{ empresa.publicado | date:'medium' }}</small>
                                <div class="d-flex align-items-center mt-3">
                                    <button class="btn btn-success btn-sm" (click)="aplicarAEmpresa(empresa)">Aplicar a Empresa</button>
                                    <div style="width: 10px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin  -->

                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
            <p class="text-muted">&copy;workview 2023. Todos los derechos reservados.</p>
            <p class="text-muted">Contacto: <strong>+57 310 316 7700</strong></p>
        </div>
    </footer>

    <!-- Importa Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

